PySide6>=6.6.0
numpy>=1.24.0
opencv-python>=4.8.0
rawpy>=0.21.0
colour-science>=0.4.3
Pillow>=10.0.0
tifffile>=2023.7.0
PyOpenGL>=3.1.7
scipy>=1.11.0
imageio>=2.31.0
git+https://github.com/andreavolpato/spektrafilm.git
